
// Magenta
$magenta-5: #FAF4F9;
$magenta-10: #F5EEF5;
$magenta-15: #F1DFF1;
$magenta-20: #ECD0EC;
$magenta-30: #E4B9E4;
$magenta-40: #D897D5;
$magenta-50: #D080CF;
$magenta-60: #C665C4;
$magenta-70: #B240B0;
$magenta-80: #962594;
$magenta-85: #761E74;
$magenta-90: #5D185C;
$magenta-95: #451244;

// Red
$red-5: #FAF3F3;
$red-10: #FAEDED;
$red-15: #F7D9D9;
$red-20: #F8C4C4;
$red-30: #ED9E9F;
$red-40: #E1777B;
$red-50: #D65156;
$red-60: #D0343A;
$red-70: #C0112E;
$red-80: #A31414;
$red-85: #7D0E0E;
$red-90: #650D0D;
$red-95: #460808;

// Orange
$orange-5: #FDF2E7;
$orange-10: #FDE9D3;
$orange-15: #FDD9B4;
$orange-20: #FEC790;
$orange-30: #FEAC5A;
$orange-40: #FF9933;
$orange-50: #F0821D;
$orange-60: #E06B06;
$orange-70: #C25D05;
$orange-80: #A54F03;
$orange-85: #853E00;
$orange-90: #5C2B00;
$orange-95: #3C1D00;

// amber
$amber-5: #FAF6EB;
$amber-10: #FDF0CE;
$amber-15: #FDEABA;
$amber-20: #FDE3A0;
$amber-30: #FDDA81;
$amber-40: #FACD5C;
$amber-50: #F2C450;
$amber-60: #EDB016;
$amber-70: #D59901;
$amber-80: #C28B00;
$amber-85: #A37500;
$amber-90: #704F00;
$amber-95: #523900;

// Green
$green-5: #F1F8E2;
$green-10: #E9EFDC;
$green-15: #DDE7C5;
$green-20: #C4DAA6;
$green-30: #99CC5C;
$green-40: #81BC00;
$green-50: #63A701;
$green-60: #459302;
$green-70: #267E03;
$green-80: #087604;
$green-85: #076204;
$green-90: #054E04;
$green-95: #053904;

// Teal
$teal-5: #E8F7F7;
$teal-10: #D4F2F0;
$teal-15: #C1EBE6;
$teal-20: #A7E2DB;
$teal-30: #85D6CD;
$teal-40: #53C6B8;
$teal-50: #10B49E;
$teal-60: #0D9C89;
$teal-70: #018876;
$teal-80: #016D5E;
$teal-85: #016053;
$teal-90: #015046;
$teal-95: #013C35;

// Cyan
$cyan-5: #E9F6FB;
$cyan-10: #D9EEF7;
$cyan-15: #BEE4F4;
$cyan-20: #ADDCF0;
$cyan-30: #88D1EF;
$cyan-40: #44B6E7;
$cyan-50: #009CDE;
$cyan-60: #0092D1;
$cyan-70: #0081B8;
$cyan-80: #006B99;
$cyan-85: #005275;
$cyan-90: #02435F;
$cyan-95: #003348;

// Blue
$blue-5: #F2F4FD;
$blue-10: #DFE9FB;
$blue-15: #D1E1FA;
$blue-20: #BFD6F8;
$blue-30: #A1C9F2;
$blue-40: #81B3EA;
$blue-50: #599CE3;
$blue-60: #3F8CDE;
$blue-70: #2375CD;
$blue-80: #1E64AE;
$blue-85: #144880;
$blue-90: #113C69;
$blue-95: #0A2B4D;

// Navy
$navy-5: #F3F4F6;
$navy-10: #F2F5F7;
$navy-15: #E5EEF4;
$navy-20: #DBE8F0;
$navy-30: #C3D5E2;
$navy-40: #9EB6C7;
$navy-50: #87A0B5;
$navy-60: #6C8BA4;
$navy-70: #3E6583;
$navy-80: #27496D;
$navy-85: #0E3762;
$navy-90: #002856;
$navy-95: #081724;

// Gray Cool A
$gray-cool-a-5: #F7F8F8;
$gray-cool-a-10: #E5EBEB;
$gray-cool-a-15: #D3DCDE;
$gray-cool-a-20: #C8CCD0;
$gray-cool-a-30: #B1BABE;
$gray-cool-a-40: #929CA5;
$gray-cool-a-50: #707D89;
$gray-cool-a-60: #5C6770;
$gray-cool-a-70: #4C5660;
$gray-cool-a-80: #35414B;
$gray-cool-a-85: #2B3843;
$gray-cool-a-90: #212E3A;
$gray-cool-a-95: #0F1E2A;

// Gray Cool B
$gray-cool-b-5: #F4F4F6;
$gray-cool-b-10: #EFEFF0;
$gray-cool-b-15: #EAEAEB;
$gray-cool-b-20: #DADADC;
$gray-cool-b-30: #C8C8CB;
$gray-cool-b-40: #A8A8AA;
$gray-cool-b-50: #959597;
$gray-cool-b-60: #8B8B8D;
$gray-cool-b-70: #79797C;
$gray-cool-b-80: #5D5D5F;
$gray-cool-b-85: #4C4C4D;
$gray-cool-b-90: #3A3B3F;
$gray-cool-b-95: #232325;

// Gray Warm
$gray-warm-5: #F7F7F7;
$gray-warm-10: #F5F5F5;
$gray-warm-15: #F0F0F0;
$gray-warm-20: #E6E6E6;
$gray-warm-30: #D1D1D1;
$gray-warm-40: #B8B8B8;
$gray-warm-50: #999999;
$gray-warm-60: #8C8C8C;
$gray-warm-70: #737373;
$gray-warm-80: #5C5C5C;
$gray-warm-85: #4D4D4D;
$gray-warm-90: #3D3D3D;
$gray-warm-95: #212121;

$white: #FFFFFF;
$black: #000000;
