
$font-family-base: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-italic: 'Source Sans Pro Italic', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-semibold: 'Source Sans Pro Semibold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-semibold-italic: 'Source Sans Pro Semibold Italic', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-bold: 'Source Sans Pro Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-bold-italic: 'Source Sans Pro Bold Italic', Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-weight-light: 400;
$font-weight-normal: 600;
$font-weight-bold: 700;
