@import '../styles/variables';

:host {
  .app-toolbar {
    display: flex;
    flex-direction: row;
    background-color: $gray-cool-a-95;
    color: white;

    fa-icon {
      color: $red-40;
    }
    a.menu-link, div.no-menu-link {
      flex: 1 0 auto;
      color: white;
      display: flex;
      flex-direction: row;
      vertical-align: center;
      text-decoration: none;
      fa-icon {
        margin: 0 4px;
      }
      div {
        margin: 1px 4px;
      }
    }

    .profile {
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      vertical-align: center;
      .text {
        font-size: 0.8em;
        line-height: 1.1em;
        text-align: right;
        .role {
          color: $red-40;
        }
      }
      img {
        border: 2px solid $white;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-left: 12px;
      }
    }
  }
}
