<dbtz-event-selector (eventChanged)="updateEvent($event)"></dbtz-event-selector>
<a mat-flat-button class="blue-btn" [routerLink]="'/matchScoutingMenu'" [disabled]="!hasMatchSchedule">Match Scouting</a>
<a mat-flat-button class="green-btn" [routerLink]="'/reports/teamList'">Team List</a>
<a mat-flat-button class="yellow-btn" [routerLink]="'/driverFeedback'" [disabled]="!hasMatchSchedule">Driver Feedback</a>
<a mat-flat-button class="orange-btn" [routerLink]="'/reports'">Reports</a>
<a mat-flat-button class="red-btn" [routerLink]="'/admin'">Admin</a>
<a mat-flat-button class="white-btn" (click)="logout()">Logout</a>
