@import 'src/app/styles/variables';

:host {
  .app-toolbar {
    background-color: $gray-cool-a-95;
    fa-icon {
      color: $red-40;
    }
    a {
      display: flex;
      flex-direction: row;
      vertical-align: center;
      color: white;
      text-decoration: none;
      fa-icon {
        margin: 0 4px;
      }
      div {
        margin: 1px 4px;
      }
    }
  }
}
