<div class="match-number">Match # {{ match.match_number }}</div>

<div class="alliance">
  <a mat-flat-button class="red-btn"
     [routerLink]="'/scoutMatch'"
     [queryParams]="redQueryParams(0)">{{ redTeamNumber(0) }}</a>
  <a mat-flat-button class="red-btn"
     [routerLink]="'/scoutMatch'"
     [queryParams]="redQueryParams(1)">{{ redTeamNumber(1) }}</a>
  <a mat-flat-button class="red-btn"
     [routerLink]="'/scoutMatch'"
     [queryParams]="redQueryParams(2)">{{ redTeamNumber(2) }}</a>
</div>

<div class="alliance">
  <a mat-flat-button class="blue-btn"
     [routerLink]="'/scoutMatch'"
     [queryParams]="blueQueryParams(0)">{{ blueTeamNumber(0) }}</a>
  <a mat-flat-button class="blue-btn"
     [routerLink]="'/scoutMatch'"
     [queryParams]="blueQueryParams(1)">{{ blueTeamNumber(1) }}</a>
  <a mat-flat-button class="blue-btn"
     [routerLink]="'/scoutMatch'"
     [queryParams]="blueQueryParams(2)">{{ blueTeamNumber(2) }}</a>
</div>
